.featured-destination {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.featured-destination-description {
    line-height: 1.6;
    margin: 0 0 2rem;
    max-width: 45ch;
}