.button-add {
    display: flex;
    align-items: center;
    background-color: var(--main-background-color);
    border-radius: 8px;
    border: 2px solid var(--mark-color);
    padding: 0 1.5rem 0 1.5rem;
    cursor: pointer;
}

.button-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--main-background-color);
    border-radius: 5px;
    border: 2px solid var(--main-background-task-color);
    cursor: pointer;
    align-self: flex-start;
    margin-top: 14px;
    flex-shrink: 0
}

.button-delete:hover,
.button-add:hover {
    background-color: var(--main-hover-color);
}