:root {
    --max-w: 1100px;
    --main-hover-color: #23221F;
    --main-background-task-color: #A35709;
    --main-background-color: #1B1A17;
    --light-background-color: #242320;
    --mark-color: #FF8303;
    --main-text-color: #F0E3CA;
    --dark-backgroud-color: #070707E3;
    --main-background-hover-color: #2B2A27;
    --main-background-task-content-color: #1F1E1B;
}

body {
    font-family: sans-serif;
    color: white;
    background: var(--main-background-color);
}

.container {
    max-width: var(--max-w);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}